doctype html
html
	head
		meta(charset='UTF-8')
		title Portfolio 2.6
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic')
		link(rel='stylesheet' href='css/style.css')
	body
		h1.text-center Twitch.TV APP
		.tabs.center.container-fluid
			h3#search
			.btn-bar
				#all-t.btn.btn-warning.all-btn(role='button') all
				#on-t.btn.btn-success.online-btn(role='button') online
				#off-t.btn.btn-danger.offline-btn(role='button') offline
		.stream-cont
			ul#channels
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
		script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
		script(src='js/index.js')